html, body{
    background: #1A2A33;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 500px;
}

.new-game-menu{
    display: none;
    margin: 119px auto 0 ;
    height: 429px;
    width: 327px;
    /* background-color: blue; */
}

.open-close-icon{
    height: 32px;
    width: 72px;
    /* background-color: yellow; */
    margin: 0 auto;
}

.pick-player-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 215px;
    width: 327px;
    margin: 32px 0 0 0;
    text-align: center;
    background-color: #1F3641;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #10212A;
}

.pick-player-paragraph{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.paragraph-1{
    margin: 0 0 0 0;
    color: #A8BFC9;
}

.paragraph-2{
    margin: 17px 0 0 0;
    color: #A8BFC9;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: 500;
}

.players-selection-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1A2A33;
    margin: 24px auto 0;
    padding: 9px 8px;
    width: 279px;
    height: 72px;
    border-radius: 10px;
}

 svg{
    display: inline-block;
}

.icon1{
    display: inline-block;
    height: 42px;
    width: 42px;
    margin: 0 auto;
}

.icon2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 54px;
    margin: 0 0 0 49px;
    border-radius: 10px;
    background-color:#A8BFC9;
}

.fill-x{
    fill: #A8BFC9;
    stroke: #A8BFC9;
}

.fill-o{
    fill: #1A2A33;
    stroke: #1A2A33;
}

.close-icon, .open-icon{
    height: 42px;
    width: 42px;
} 

/* New Game */

.new-game-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 0 0 0;
}

.vs-cpu{
    margin: 0 0 16px 0;
}

.new-game-button{
    height:66px;
    width: 327px;
    border-radius: 15px;
    border: none;
    background: #F2B137;
    box-shadow: inset 0px -8px 0px #CC8B13;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

}

.vs-player{
    background: #31C3BD;
    box-shadow: inset 0px -8px 0px #118C87;
}


/* Game board start */
/* .game-board-start{
    display: none;
} */

.game-board-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 328px;
    margin: 24px auto 0;
    /* background-color: blue; */
}

.player-x-turn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #1F3641;
    width: 96px;
    height: 40px;
    box-shadow: inset 0px -4px 0px #10212A;
    border-radius: 5px; 
}

.player-x-text{
    font-weight: 700px;
    font-size: 16px;
    text-transform: uppercase;
    color: #A8BFC9;
}

.player-x-svg{
    margin: 0 0 0 0;
}

.reload-svg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 5px;
}

.game-baord-cells{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    height: 412px;
    width: 328px;
    margin: 64px auto 0;
}

.cells{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 96px;
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 10px;
}

.score-cell{
    height: 64px;
    width: 96px;
    background-color: green;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-weight: 500px;
    font-size: 12px;
    text-transform: uppercase;
    color: #1A2A33;
}

.cell-10{
    background: #31C3BD;
}

.cell-11{
    background: #A8BFC9;
}

.cell-12{
    background: #F2B137;
}



/* Scores message */

/* .win, .player2-wins, .o-wins, .tie{
    display: none;
} */

.o-wins-background{
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    mix-blend-mode: normal;
    margin: 0 auto ;
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    bottom: 219px ;
}

.messages-o, .messages-x, 
.messages-x-restart, 
.messages-o-multi, .messages-x-multi, 
.messages-x-multi-restart, 
.solo{
    visibility: hidden;
}

.o-wins, .x-wins, .x-wins-restart, 
.o-wins-multi, .x-wins-multi, .x-wins-multi-restart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 225px;
    bottom: 219px ;
    height: 228px;
    width: 412px;
    background: #1F3641;
}


.wins-loss-message{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: pink; */
    height: 30px;
    width: 280px;
}

.you-lost-message, .you-won{
    font-weight: 700px;
    font-size: 16px;
    text-transform: uppercase;
    color: #A8BFC9;
    
}

.o-wins-icon, .x-wins-icon{
    margin:15px 0 0 0;
}

.o-win-message, .x-win-message{
    font-weight: 700px;
    font-size: 24px;
    text-transform: uppercase;
    color: #F2B137;
}

.restart-message{
    font-weight: 700px;
    font-size: 24px;
    text-transform: uppercase;
    color: #A8BFC9;
}

.x-win-message{
    color: #31C3BD;
}

.score-action{
    margin: 24px 0 28px 0;
}

.score-screen{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.quit, .cancel{
    width: 76px;
    height: 52px;
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
    border: none;
    margin: 0 16px 0 0;
}

.next-round, .restart{
    Width: 146px;
    Height: 52px;
    background: #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
    border: none;
}

.restart-screen{
    width: 139px;
    height: 52px;
    border-radius: 10px;
    border: none;
    margin: 0 16px 0 0;
}

/* Game board cell icons  */
.cell-icons{
    height: 60px;
    width: 60px;
}

.board-cell-x{
    display: none;
    fill: #31C3BD ;
}

/* .board-cell-o{
    display: none;    
} */

.cell-x-icon-path{
    fill: #31C3BD ; 
    stroke: #31C3BD ;
}

.cell-o-icon-path{
    fill: #F2B137 ; 
    stroke: #F2B137;
}

/* #cell-o-icon-1, #cell-o-icon-2, #cell-o-icon-3, 
#cell-o-icon-4, #cell-o-icon-5, #cell-o-icon-6, 
#cell-o-icon-7, #cell-o-icon-8, #cell-o-icon-9,
#cell-x-icon-1, #cell-x-icon-2, #cell-x-icon-3, 
#cell-x-icon-4, #cell-x-icon-5, #cell-x-icon-6, 
#cell-x-icon-7, #cell-x-icon-8, #cell-x-icon-9{
    display: none;
} */

.players-2{
    display: none;
}

/* .players-1{
    display: none;
} */

.hidden{
    display: none;
}









/* media query tablets */
@media (min-width:429px) and (max-width: 835px) {
      .new-game-menu{
        display: none;
        height: 471px;
        width: 460px;
        /* background-color: blue; */
        margin-top: 277px;

    }

    .pick-player-card{
        height: 205px;
        width: 460px;
    }

    .players-selection-icons{
        height: 52px;
        width: 412px;
    }

    .icon1{
        margin: 0 83px 0 91px;
    }

    .icon2{
        height: 54px;
        width: 198px ;
        margin: 0 0 0 0;
    }

    .new-game-button{
        width: 460px;
    }


    /* Game board */

    .game-board-start{
        display: block;
        margin: 201px 0 0 0;
    }

    .game-board-header{
        width: 457px;
    }

    .player-x-svg{
        margin: 0 0 0 0;
    }

    .game-baord-cells{
        width: 460px;
    }

    .cells{
        width: 140px;
    }


    /* score screen */
    .solo{
        visibility: visible;
        height: 200%;
    }

    .o-wins, .x-wins, .x-wins-restart, 
.o-wins-multi, .x-wins-multi, .x-wins-multi-restart{
        visibility: hidden;
        height: 200px;
        width: 100%;
        margin: 150px auto 0 ;
    }

    .wins-loss-message{
        width: 499px;
    }

    .x-wins-svg{
        height: 52px;
        width: 52px;
    }

    .o-wins-icon{
        margin: 5px 0 0 0px;
    }

    .o-win-message, .x-win-message{
        margin: 0 50px 0 0;
        font-size: 40px;
    }

    .messages-x-multi-restart {
        visibility: visible;
    }
}




/* Desktop screens  */

@media only screen and (min-width: 836px){
    .new-game-menu{
        display: none;
        height: 471px;
        width: 460px;
        /* background-color: blue; */
        margin-top: 277px;

    }

    .pick-player-card{
        height: 205px;
        width: 460px;
    }

    .players-selection-icons{
        height: 52px;
        width: 412px;
    }

    .icon1{
        margin: 0 83px 0 91px;
    }

    .icon2{
        height: 54px;
        width: 198px ;
        margin: 0 0 0 0;
    }

    .new-game-button{
        width: 460px;
    }


    /* Game board */

    .game-board-start{
        display: block;
        margin: 201px 0 0 0;
    }

    .game-board-header{
        width: 457px;
    }

    .player-x-svg{
        margin: 0 0 0 0;
    }

    .game-baord-cells{
        width: 460px;
    }

    .cells{
        width: 140px;
    }


    /* score screen */
    .solo{
        visibility: hidden;
        height: 200%;
    }

    .o-wins, .x-wins, .x-wins-restart, 
.o-wins-multi, .x-wins-multi, .x-wins-multi-restart{
        visibility: hidden;
        height: 200px;
        width: 100%;
        margin: 150px auto 0 ;
    }

    .wins-loss-message{
        width: 499px;
    }

    .x-wins-svg{
        height: 52px;
        width: 52px;
    }

    .o-wins-icon{
        margin: 5px 0 0 0px;
    }

    .o-win-message, .x-win-message{
        margin: 0 50px 0 0;
        font-size: 40px;
    }

    .x-wins-multi-restart {
        visibility: hidden;
    }


}